NEXT_PUBLIC_SUPABASE_URL=https://mpdcvispjqgevudylvuk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1wZGN2aXNwanFnZXZ1ZHlsdnVrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc4MzUyMDIsImV4cCI6MjEwMzQxMTIwMn0.aVqJ27TXQVr71LDcGfbboW2I2oAMGSWmUmtW91SKnts
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1wZGN2aXNwanFnZXZ1ZHlsdnVrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NzgzNTIwMiwiZXhwIjoyMTAzNDExMjAyfQ.wrK6YNEZW1ON-zkxrGogJPWpsLaWePTmxCcNsulaVeM
NEXT_PUBLIC_SITE_URL=https://zynexstudio.my.id
NEXT_PUBLIC_WHATSAPP_NUMBER=6285141308100
# SEED_ADMIN_EMAIL=cenalcenul82@gmail.com
